# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/

# Environment Variables
.env

# VSCode & System Files
.vscode/
.DS_Store

# Migrations (optional if you recreate them often)
**/migrations/*.py
!**/migrations/__init__.py
